.card{
    width: 40%;
    padding: 20px;
    cursor: pointer;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.structureName{
    border: solid;
    padding: 5px;
    margin: 5px 0;
}
.structureId{
    border: solid;
    padding: 5px;
    margin: 5px 0;
}